*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

#root {
  max-width: 100vw;
  margin: 0;
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}
.Tarjetas{
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.imagenTarjeta{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.navclass{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.headerclass{
  background-color: #f9f9f9;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.read-the-docs {
  color: #888;
}
